@model Models.Dtos.Empleados.EmpleadosDto

<form id="frmEmpleados" class="needs-validation" novalidate>

    <input asp-for="@Model.IdEmpleado" type="hidden" class="form-control" />
    <input asp-for="@Model.UCreador" type="hidden" class="form-control shadow-sm" />
    <input asp-for="@Model.FechaCreacion" type="hidden" class="form-control shadow-sm" />
    <input asp-for="@Model.UActualiza" type="hidden" class="form-control shadow-sm" />
    <input asp-for="@Model.FechaActualiza" type="hidden" class="form-control shadow-sm" />
    <input asp-for="@Model.ModoEdicion" type="hidden" class="form-control shadow-sm" />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
            <label asp-for="@Model.IdTienda"></label>
            <select asp-for="@Model.IdTienda" asp-items="@Model.LstTiendasSelect" class="form-control shadow-sm" required autocomplete="off">
            </select>
            <div class="invalid-feedback">
                Seleccione la tienda
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 mt-2">
            <label asp-for="@Model.Nombre"></label>
            <input asp-for="@Model.Nombre" type="text" class="form-control" placeholder="Nombre" required autocomplete="off"/>
            <div class="invalid-feedback">
                Digite el nombre de empresa
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-2">
            <label asp-for="@Model.Apellido1"></label>
            <input asp-for="@Model.Apellido1" type="text" class="form-control" placeholder="Primer apellido" required autocomplete="off" />
            <div class="invalid-feedback">
                Digite el primer apellido
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-2">
            <label asp-for="@Model.Apellido2"></label>
            <input asp-for="@Model.Apellido2" type="text" class="form-control" placeholder="Segundo Apellido" required autocomplete="off" />
            <div class="invalid-feedback">
                Digite el segundo apellido
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 mt-2">
            <label asp-for="@Model.Identificacion"></label>
            <input asp-for="@Model.Identificacion" type="text" class="form-control" placeholder="Número de indentificación" required autocomplete="off" />
            <div class="invalid-feedback">
                Digite la identificación de empresa
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-2">
            <label asp-for="@Model.Telefono"></label>
            <input asp-for="@Model.Telefono" type="tel" class="form-control" placeholder="Teléfono" required autocomplete="off" />
            <div class="invalid-feedback">
                Digite teléfono de empresa
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-2">
            <label asp-for="@Model.Salario"></label>
            <input asp-for="@Model.Salario" type="number" min="0" class="form-control" placeholder="0.0" required autocomplete="off" />
            <div class="invalid-feedback">
                Digite un el salario
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 mt-2">
            <label asp-for="@Model.TipoEmpleado"></label>
            <input asp-for="@Model.TipoEmpleado" type="text" class="form-control" placeholder="Tipo de empleado" required autocomplete="off" />
            <div class="invalid-feedback">
                Digite la tipo de empleado
            </div>
        </div>
        <div class="col-lg-8 col-md-4 col-sm-12 mt-2">
            <label asp-for="@Model.IdSupervisor"></label>
            <select asp-for="@Model.IdSupervisor" asp-items="@Model.LstEmpleadosSelect" class="form-control shadow-sm" required autocomplete="off">
            </select>
            <div class="invalid-feedback">
                Seleccione el supervisor
            </div>
        </div>
    </div>
    @if (@Model.ModoEdicion == "Crear")
    {
        <div class="row mt-3">
            <div class="d-grid gap-2 col-lg-3 col-md-3 col-sm-6 mx-auto">
                <button class="btn shadow-sm btn-success" type="submit"><i class="bi bi-check-square"></i> Guardar</button>
            </div>
        </div>
    }
    else if (@Model.ModoEdicion == "Editar")
    {
        <div class="row mt-3">
            <div class="d-grid gap-2 col-lg-3 col-md-3 col-sm-6  mx-auto">
                <button class="btn shadow-sm btn-warning" type="submit"><i class="bi bi-check2-square"></i> Actualizar</button>
            </div>
        </div>
    }
    
</form>

<script>
    (function () {
        'use strict'

        // Obtener todos los formularios a los que queremos aplicar estilos de validación de Bootstrap personalizados
        var forms = document.querySelectorAll('.needs-validation')

        // Bucle sobre ellos y evitar el envío si la validación no es correcta
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    } else {
                        event.preventDefault(); // Prevenir el submit por defecto
                        Procesar(); // Llamar a la función si el formulario es válido
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })();
</script>
