@model Models.Dtos.Empleados.EmpleadosViewModel;
@{
    ViewData["Title"] = "Lista empleados";
    Layout = "_Layout";
}

<h1 class="h3 mb-4 text-gray-800">Empleados</h1>

<div class="row mb-3">
    <div class="col-12">
        <a class="btn shadow-sm btn-primary" onclick="NuevoEmpleado()" href="#"><i class="fas fa-plus"></i> Nuevo</a>
        <a class="btn shadow-sm btn-secondary" onclick="EditarEmpleado()" href="#"><i class="fas fa-plus"></i> Editar</a>
        <a class="btn shadow-sm btn-danger" onclick="EliminarEmpleado()" href="#"><i class="fas fa-plus"></i> Eliminar</a>
        <a class="btn shadow-sm btn-primary" onclick="testAlert()" href="#">test</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Empleados registrados</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.LstEmpleados != null)
                    {
                        <table class="table table-bordered table-hover table-sm" id="tblEmpleados">
                            <thead>
                                <tr>
                                    <th>Selecione</th>
                                    <th>Identificación</th>
                                    <th>Nombre</th>
                                    <th>Primer apellido</th>
                                    <th>Segundo apellido</th>
                                    <th>Fecha creación</th>
                                    <th>Teléfono</th>
                                    <th>Tipo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ln in Model.LstEmpleados)
                                {
                                    <tr>
                                        <td>
                                            <input type="radio" name="selectedEmployee" class="form-check-input" value="@ln.IdEmpleado" />
                                        </td>
                                        <td>@ln.Identificacion</td>
                                        <td>@ln.Nombre</td>
                                        <td>@ln.Apellido1</td>
                                        <td>@ln.Apellido2</td>
                                        <td>@ln.Telefono</td>
                                        <td>@ln.TipoEmpleado</td>
                                        <td>@ln.FechaCreacion.ToString("dd-MM-yyyy")</td>
                                        <td>
                                            <a class="btn shadow-sm btn-warning btn-sm" onclick="EditarEmpresa(@ln.IdEmpleado)" href="#"><i class="fas fa-edit"></i> Editar</a>
                                            <a class="btn shadow-sm btn-danger btn-sm" onclick="EliminarEmpresa(@ln.IdEmpleado)" href="#"><i class="fas fa-trash-alt"></i> Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div id="partialModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Datos de empleado</h5>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer justify-content-center">
                <div class="d-grid gap-2 col-2 mx-auto">
                    <button type="button" class="btn btn-secondary btn-block" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/modulos/empleadosjs.js"></script>
